---
layout: default
---

<div class="home">

  {{ content }}

  <section class="about_me">

          <h1 class="about_me--title">morgan</h1>
          <p class="about_me--text">clever software</p>

          <!-- <ul class="about_me--links">
            <li class="about_me--links--item"><a class="about_me--link" target="_blank" href="https://github.com/haterecoil">github</a></li>
            <li class="about_me--links--item"><a class="about_me--link" target="_blank" href="https://fr.linkedin.com/in/morgan-caron-12b558100">linkedin</a></li>
            <li class="about_me--links--item" style="display:none;"><a class="about_me--link" target="_blank" href="https://drive.google.com/open?id=0B2uqVJ0a41YRMzZoSjJ3SEZoWnM">resume</a></li> -->

            <ul class="references">
              
              <li class="reference--title">
                technical lead
              </li>
              <li class="reference--body">
                <a href="https://get-phoenix.com">
                  Phoenix – Addiction Care 2.0 
                </a> <a href="http://www.ch-sainte-anne.fr/">  w/ hospital CHSA</a>
              </li>
              <li class="reference--body">
                  ↑ Django, ionic, and machine learning
              </li>

              <li class="reference--title">
                Data Engineering
              </li>
              <li class="reference--body">
                <a href="https://deepki.com/">
                  Deepki – Energetic datasets ETL
                </a>
              </li>
              <li class="reference--body">
                  <a href="https://www.shippeo.com/">
                  Shippeo – Talend environment setup
                </a>
              </li>

              <li class="reference--title">
                backend development
              </li>
              <li class="reference--body">
                <a href="https://societegenerale.fr/">
                  Société Générale - banklevel web app - java
                </a>
              </li>
              <li class="reference--body">
                  + Symfony, Django & RoR projects
              </li>

              <li class="reference--title">
                e-commerce perf & sec
              </li>
              <li class="reference--body">
                <a href="https://maxdaumin.com/">
                  Max Daumin - high-end spices
                </a>
              </li>
              <li class="reference--body">
                  <a href="https://manucurist.com/">
                  Manucurist - three cosmetics centered websites 
                </a>
              </li>

              <li class="reference--title">
                Mobile Native & Cross-Device
              </li>
              <li class="reference--body">
                <a href="https://rugbycentric.com/">
                  RugbyCentric - Rugby team management and self-help
                </a>
              </li>
              <li class="reference--body">
                  <a href="https://francais-en-voyage.fr/">
                  Français en Voyage - Restaurant owners get + customers, customers get + deals
                </a>
              </li>


            </ul>

          </ul>
        </section>
</div>
