---
layout: default
---

<div class="home">

  {{ content }}

  <section class="about_me">
    <!-- <p><a href="/en.php">english version</a></p> -->
    <h1 class="about_me--title">morgan</h1>
    <p class="about_me--text">i love creating clever digital software</p>
    <!-- <p class="about_me--text">don't consume consumers</p> -->
    <!-- <p class="about_me--text">student @<a href="http://hetic.net">HETIC</a></p>
    <p class="about_me--text">here is a quick index of my projects</p> -->
    <ul class="about_me--links">
      <li class="about_me--links--item"><a class="about_me--link" target="_blank" href="https://github.com/haterecoil">github</a></li>
      <li class="about_me--links--item"><a class="about_me--link" target="_blank" href="https://fr.linkedin.com/in/morgan-caron-12b558100">linkedin</a></li>
      <li class="about_me--links--item"><a class="about_me--link" target="_blank" href="https://drive.google.com/open?id=0B2uqVJ0a41YRMzZoSjJ3SEZoWnM">resume</a></li>

      <!-- <li class="about_me--links--item"><a class="about_me--link" target="_blank" href="mailto:morgan.caron@hetic.net">mail </a></li> -->
    </ul>
  </section>


  <div class="block">
    <h2 class="block--title">TL;DR</h2>
    <p class="block--text"></p>
    <p class="block--text">A student looking for a 6-month internship from July 2017:</p>
    <p class="block--text">◦ Able to work on interfaces, servers and data</p>
    <p class="block--text">◦ Best assets: coherence and versatility</p>
    <p class="block--text">◦ Worst flaws: please contact me!</p>
    <p class="block--text"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
  </div>

  <div class="vertical_whitespace"></div>
  <div class="vertical_whitespace"></div>

  <hr>
  <div class="block">
    <h2 class="block--title">Projects I worked on</h2>
    <p class="block--text">I used to list here all projects I worked on. Time passed by, some were lost, some outdated </p>
    <p class="block--text">The quantity of energy needed to update and maintain servers, links, and debug debious ones being superior to the profits, I decided to keep only one case study which summaries what I have learned so far. My latest and favorite work: <strong>Phœnix</strong>.</p>
  </div>

  <div class="vertical_whitespace"></div>

  <div class="block">
    <h2 class="block--title">Phœnix</h2>
    <h3 class="block--subtitle">Addiction Care 2.0</h3>
    <p class="block--text">Phœnix is an award-winning tool for addiction care. It helps patients reducing or stoping their consumption and is complementary to regular addiction care.</p>
    <p class="block--text">
    When a patient has a craving, Phœnix identifies the context and offers the best strategy to help him avoid this intense longing.
    </p>
    <img class="block--image" src="./assets/image/appcombo.png" alt="Phoenix UX from craving to strategy" title="Phoenix mobile application interface"></img>
    <p class="block--text">The application then sends data to the usual addictologist, whom can follow the patient's evolution.</p>
    <img class="block--image" src="./assets/image/appweb.png" alt="Phoenix UX of medical interface" title="Phoenix UX of medical interface"></img>
    <h3 class="block--subtitle">A summary of my skills</h3>
    <p class="block--text">The team is multi-disciplinary (both technical and medical) and we won an award @NewHealth's 2016 eHealth convention. This award sealed our commitment to this great adventure.</p>
    <p class="block--text">Being the only developer, this project solicits many of my skills, thus it crystallizes what I've learned so far. </p>
    <p class="block--text">◦ Definition of MVP features and versioning</p>
    <p class="block--text">◦ Teaching non-technical people about the full potential of modern IT.</p>
    <p class="block--text">◦ Cross-device mobile development – Ionic2</p>
    <p class="block--text">◦ Regular website development for the medical interface</p>
    <p class="block--text">◦ Data visualisations for the medical interface</p>
    <p class="block--text">◦ Secure backend development – Django</p>
    <p class="block--text">◦ Machine Learning – Multi Armed Bandit, Python</p>
  </div>
</div>
